<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" sizes="16x16" href="static/image/favicon-16x16.png">
    <title>Organize Recipe</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

         <!-- Latest compiled and minified JavaScript , bootstrap references jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
 <!--new navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#"><img style="height: 30px" src="static/image/icon.jpg"></a>-->
            </div>
        {% if "user_id" in session %}
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li class="active"><a href="/recipeform">Add Recipe <span class="sr-only">(current)</span></a></li>
                <li ><a href="/recipe-list">My Recipe</a></li>
                </ul>

                <form action="/api" method="POST" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="searchbox" placeholder="Search">
                    </div>
                    <button type="submit" id="search" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
         {% else %}
            <button  class="nav navbar-nav navbar-right btn btn-default text-center" data-toggle="modal" data-target="#signin"><a href="#">Sign In</button>

            <button class="nav navbar-nav navbar-right btn btn-default text-center" data-toggle="modal" data-target="#signup"><a href="#">Sign Up</button>
        {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<!--endnew navbar-->

    

    <!-- Sign-In Modal -->
    <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <form action="/signin-confirm" method="POST">
                        <div>
                            <label>Username:
                                <input type="username" name="username">
                            </label>
                        </div><br><br>

                        <div>
                            <label>Password:
                                <input type="password" name="password" required>
                            </label>
                        </div><br><br>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div> <!--modal body-->
            </div> <!--modal content-->
        </div> <!--modal dialog--> 
    </div> <!--modal fade-->
        

    <!-- sign-up Modal -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign up</h4>
                </div>
                <div class="modal-body">
                    <form action="/signup-confirm" method="POST">
                        <div>
                            <label>Username:
                                <input type="username" name="username" required>
                            </label>
                        </div><br><br>

                        <div>
                            <label>Password:
                                <input type="password" name="password" required>
                            </label>
                        </div><br><br>

                        <div>
                            <label>Email:
                                <input type="email" name="email" style="width: 300px" required>
                            </label>
                        </div><br><br>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                </div><!--modal body-->
            </div><!--modal content-->
        </div><!--modal dialog-->
    </div><!--modal fade-->
</nav>

<br>

{% for flash in get_flashed_messages() %}
  <span class="alert alert-warning" role="alert">{{ flash }}</span>
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}


</body>
</html>