<!DOCTYPE html>
<html>
<head>

    <title>Organize Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

     <!-- Latest compiled and minified JavaScript , bootstrap references jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous">
    </script>

   
    
</head>
<body>

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
    <a href="/recipeform">Add Recipe</a>
    <a href="/recipe-list">Myrecipe</a>

    <div>
        <form action="/api" method='POST'>
            <input type="text" value="" name="searchbox" id="searchbox" placeholder="search"></input>
            <button type="submit" id="search">submit</button>
        </form>
    </div>
    
{% else %}
    <a href="/signin">Sign In</a>
    <a href="/signup">Sign Up</a>
{% endif %}

<br>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}


</body>
</html>