<!DOCTYPE html>

<title>
    Displays a recipe page
</title>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
</head>

<body class="share-recipe">
    <div>
        <div class="form-container">
        
        <h2>
            Enjoy this recipe
        </h2>

        <div>
            Image:
            <img src="{{recipe.image}}">
        </div>
        <br>

        <div>
            Title:
            {{recipe.title}}
        </div>
        <br>


        <div>
            Category:
            {{recipe.category.category_name}}
        </div>
        <br>

        <div>
            Yields:<span id="std-yields">
            {{recipe.yields}}</span>
            <input type="number" value="{{recipe.yields}}" id="yields">
        </div>
        <br>

        <div id="repaceInfoId">
            Ingredients:
            {% for ingredient in ingredients %}
                <ul>
                <li><p class="calculateQuantity" ><span>{{ ingredient.quantity}}</span> {{ ingredient.measure }} {{ ingredient.ingredient_name}}</p></li></ul>
            
            {% endfor %}
        </div>

        <div>
            Preparation:
            {{recipe.preparation}}

        </div>
    </div>
    
    </div>

    

<script>
    function calculateQuantity(evt){
        console.log("in event handler");
        var newYield = Number($("#yields").val());

        var standardYield = Number($("#std-yields").text());
        console.log("STANDARD YIELD :" + standardYield);
        console.log("yields:", $("#yields"));

        var multiplier = newYield/standardYield;
        console.log("MULTIPLIER :" + multiplier);

        var newNumber= standardYield * multiplier;
        
        var listOfIngredient = $("p span");
        console.log(listOfIngredient);

        for (var i = 0; i < listOfIngredient.length; i++){
            console.log("INSIDE LOOP");


            var ingredient = listOfIngredient[i];
            console.log("ingredient: ", ingredient);
            
            console.dir("ingredient.innerHTML: ", ingredient.innerHTML);

            var quantity = ingredient.innerHTML;
            console.log("quantity: ", quantity)


            var newQuantity = Math.round(quantity * multiplier);
            console.log("newQuantity: ", newQuantity)

            ingredient.innerHTML = newQuantity;
            console.log("REPLACED QTY : " + ingredient);
        }
    }

    $("#yields").on("change", calculateQuantity);
</script>

</body>
</html>