<!DOCTYPE html>

<title>
    Displays a recipe page
</title>

<head>
    <link rel="stylesheet" href="/static/styles.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">


    </script>
</head>

<body >

    <div style="padding: 0px 300px" height="600">
        <div class="display-form-container">
        
        <h2>
            Enjoy this recipe
        </h2>

        <div>
            <span class="form-field">Image:</span>
            <span><img height="50%" width="50%" src="{{recipe.image}}"></span>
        </div>

        <br>

        <div>
            <span class="form-field">Title:</span>
            <span >{{recipe.title}}</span>
        </div>
        <br>


        <div>
            <span class="form-field">Category:</span>
            <span>{{recipe.category.category_name}}</span>
        </div>
        <br>

        <div>
            <span class="form-field">Yields:<span><span id="std-yields">
            {{recipe.yields}}</span>
            <input type="number" value="{{recipe.yields}}" id="yields">
        </div>
        <br>

        <div id="repaceInfoId">
            <spam class="form-field">Ingredients:</span>
            <ul>
            {% for ingredient in ingredients %}
                
                <li><p class="calculateQuantity" ><span>{{ ingredient.quantity}}</span> {{ ingredient.measure }} {{ ingredient.ingredient_name}}</p></li>
            
            {% endfor %}
        </ul>
        </div>

        <div>
            <span class="form-field">Preparation:</span>
            <span>{{recipe.preparation}}</span>

        </div>
        </div>
    
    </div>

    

<script>
    function calculateQuantity(evt){
        console.log("in event handler");
        var newYield = Number($("#yields").val());

        var standardYield = Number($("#std-yields").text());
        console.log("STANDARD YIELD :" + standardYield);
        console.log("yields:", $("#yields"));

        var multiplier = newYield/standardYield;
        console.log("MULTIPLIER :" + multiplier);

        var newNumber= standardYield * multiplier;
        
        var listOfIngredient = $("p span");
        console.log(listOfIngredient);

        for (var i = 0; i < listOfIngredient.length; i++){
            console.log("INSIDE LOOP");


            var ingredient = listOfIngredient[i];
            console.log("ingredient: ", ingredient);
            
            console.dir("ingredient.innerHTML: ", ingredient.innerHTML);

            var quantity = ingredient.innerHTML;
            console.log("quantity: ", quantity)


            var newQuantity = Math.round(quantity * multiplier);
            console.log("newQuantity: ", newQuantity)

            ingredient.innerHTML = newQuantity;
            console.log("REPLACED QTY : " + ingredient);
        }
    }
    $("#yields").on("change", calculateQuantity);
</script>

</body>
</html>