{% extends 'base.html' %}
{% block content %}

{% if "user_id" in session %}

<div class="add-newrecipe">
    <div class="form-container">
        <h3 class="view-recipe" id="addnew">Edit Recipe</h3>

        <form  action="/edit-recipe/{{recipe.recipe_id}}/confirm" method="POST" id="edit-recipe-form">
            <h4> Image: </h4>
                <input type="text" name="image" class="image-input" value="{{recipe.image}}"placeholder="enter image URL"> 
                <img src="{{recipe.image}}"><br><br>

            <h4 class="view-recipe"> Title: </h4> 
                <input type="text" class="form-control form-title" name="title" value="{{recipe.title}}"style="width:600px"><br>

            <h4 class="view-recipe"> Categorize this recipe </h4>
                <select id="dropdown-category" name="category_name">
                    {% for category in db_categories %}
                        <option value="{{category.category_id}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
            <br><br>
            <h4 class="view-recipe"> Yields: </h4>
                <input type="text" name="yields" class="form-control" value="{{ recipe.yields }}" placeholder="#">
            <br>

            <h4 class="view-recipe"> Ingredients: </h4>
                <div id = "ingredient-container">
                    {% for ingredient in ingredients %}
                        {% if ingredient.ingredient_name != '' %}
                        <div class="ingredient-field">
                            Qty:<input type="text" name="quantity" value="{{ ingredient.quantity }}" class="qty-input" placeholder="Enter quantity" style="width: 90px;">

                            Measure:<input type="text" name="measure" value="{{ ingredient.measure }}" class="measure-input"placeholder="Enter unit" style="width: 200px">
                            
                            Item:<input type="text" name="name" value="{{ ingredient.ingredient_name }}"placeholder="Ingredient name" class="item-input" style="width: 300px">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>

            <input type="hidden" id="countId" name="count"><br>

            <button type="button" id="add-new">+ Add another ingredient</button>
            <br><br>

            <h4 class="view-recipe"> Preparation: </h4>
                <textarea rows="5" cols="50" class="prep-input" name="preparation">{{recipe.preparation}}</textarea><br><br>

            <input type="submit" id="formSubmitId" value="+ Save Recipe"></input>
            <br><br>
            <input type="hidden" name="recipeid" value="{{recipe.recipe_id}}"/> 
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script>
    $("#add-new").on('click', function() {
        var new_ingredient = $(".ingredient-field").get(0);
        var new_field= $(new_ingredient).clone();
        new_field.appendTo("#ingredient-container");
        index = $("#ingredient-container").children().length;
        //counter ++;

        $('.quantity', new_field).attr('name', 'quantity');
        $('.measure', new_field).attr('name', 'measure');
        $('.item', new_field).attr('name', 'name');
    });
</script>

{% endif %}
{% endblock %}
