{% extends 'base.html' %}
{% block content %}

{% if "user_id" in session %}

<div class="add-newrecipe">
    <div class="form-container">
        <h3 id="addnew" class="view-recipe">Add New Recipe</h3>

        <form  id="recipeFormId" action="/recipeform-confirm" method="POST">
            <h4 class="view-recipe"> Image: </h4>
            <input type="text" name="image" class="image-input" placeholder="Enter image URL">
            <br><br>

            <h4 class="view-recipe"> Title: </h4> 
            <input type="text" id="inputHelpBlock" name="title" class="form-control form-title" placeholder="Enter title" aria-describedby="helpBlock">
            <br>

            <h4 class="view-recipe"> Categorize this recipe </h4>
            <select id="dropdown-category" name="category_name">
            {% for category in db_categories %}
                <option value="{{category.category_id}}">{{category.category_name}}</option>
            {% endfor %}
            </select>
            <br><br>

            <h4 class="view-recipe"> Yields: </h4>
            <input type="text" name="yields" class="form-control" placeholder="#" aria-describedby="helpBlock">
            <br>

            <h4 class="view-recipe"> Ingredients: </h4>
            <div id = "ingredient-container">
                <div class="ingredient-field">
                
                Qty:
                <input type="text" name="quantity" class="qty-input" placeholder="Enter quantity">
                
                Measure:
                <input type="text"  name="measure" class="measure-input" placeholder="Enter unit">
                
                Item:
                <input type="text" name="name" class="item-input" placeholder="Ingredient name">
                
                </div>
            </div>

            <input type="hidden" id="countId" name="count"><br>

            <button type="button" id="add-new" class="view-recipe">+ Add another ingredient</button>
            <br><br> 

            <h4 class="view-recipe"> Preparation: </h4>
            <textarea rows="5" cols="50" name="preparation" class="prep-input" placeholder="Provide steps to prepare the dish"></textarea><br><br>

            <input type="submit" id="formSubmitId" class="view-recipe" value="+ Save Recipe"></input><br><br>
        </form>
    </div>
</div>
           

<script src="https://code.jquery.com/jquery.js"></script>

<script>
    $("#add-new").on('click', function() {
        var new_ingredient = $(".ingredient-field").get(0);
        var new_field= $(new_ingredient).clone();
        new_field.appendTo("#ingredient-container");
        index = $("#ingredient-container").children().length;
        //counter ++;

        $('.quantity', new_field).attr('name', 'quantity');
        $('.measure', new_field).attr('name', 'measure');
        $('.item', new_field).attr('name', 'name');
    });
</script>

{% endif %}
{% endblock %}
