{% extends 'base.html' %}
{% block content %}


<div id="recipe-contents">
{% for key, value in required_info.iteritems() %}
    <form action="/api-recipe/{{value.recipe_id}}" method="POST">
    
   
    <p><img style="width:180px" src='{{value.url}}'></p>
    <p> <strong>Title:</strong> {{ key }} </p>
    <p><strong>Ingredients:</strong> </p>
    <ul style="margin-left: 68px">
    {% for ingredient in value.ingredients%}
        <li style="text-align:left">{{ingredient}}</li>
    {% endfor %}
    </ul>
    <p><strong>Yields:</strong> {{value.yields}}</p>
    <p><strong>Prep Time:</strong> {{value.prep_time}}</p>
    <p><strong>Cook Time:</strong> {{value.cook_time}}</p>
    <p><strong>Total Time:</strong> {{value.total_time}}</p>


    <div>
        <a href="{{value.source_url}}" target="_blank"><button type="button">View Preparation</button></a>
    </div><br>

    <input type="hidden" name="img_url" value="{{value.url}}"/>
    <input type="hidden" name="source_url" value="{{value.source_url}}"/>
    <input type="hidden" name="api_recipe_title" value="{{ key }}"/>
    <input type="hidden" name="api_recipe_id" value="{{value.recipe_id}}"/> 
    {% if not recipe_exist_db %}
        <input style="background-color: teal" type="submit" value="+ Save Recipe"></input>
    {% endif %}

    </form>

{% endfor %}

</div> 











{% endblock %}